/.circleci/
/.nyc_output/
/coverage/
/docs/
/src/
/test/
.codeclimate.yml
.eslint*
.gitignore
.prettierrc
Gemfile
Gemfile.lock
ISSUE_TEMPLATE
karma.conf.js
Makefile
package-lock.json
README.md
rollup.config.js
