---
---

<header class="site-header">
<h1 class="site-title"><a href="/">Fetch Mock</a></h1>
<navigation class="site-nav">
	<a href="/@fetch-mock">@fetch-mock/* docs</a>
	<a href="/fetch-mock">Legacy fetch-mock docs</a>
</navigation>
</header>

</header>

<style>

	.site-header {
		width: 100%;
		display: flex;
		padding: 0 2rem;
		background-color: #00994D;
	}

	.site-header a {
		color: white;
		text-decoration: none;
	}

	.site-title a {
		font-size:  2rem;
	}

	.site-nav {
		height:  100%;
		margin-left:  3rem;
		margin-right:  3rem;
	}
	.site-nav a {
		display:  inline-block;
		padding-right:  1rem;
		padding-left:  1rem;
		font-size:  1.5rem;
		padding-top:  1rem;
		padding-bottom:  1rem;

	}

	.site-nav a:hover {
		background-color: #02763c;
	}

</style>
