body {

	&.nav-open {
		overflow: hidden;

		header {
			bottom: 0;
		}
	}
}

em {
	text-decoration: underline
}

.doc-content {
	border: 0;
	border-bottom: 1px solid #eee;
	padding: 30px 0;
}

.doc-content:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.doc-content:last-child {
	border: 0;
}

.left-docs {
	width: 100%;
	float: left;
	padding: 0 50px;
	box-sizing: border-box;

	p, pre, ul, dd {
		max-width: 560px
	}

	dd {
		max-width: 400px
	}
}
.code-viewer {
	.languages {
		padding: 0;
		margin: 0 0 5px 0;
		list-style: none;
		font-size: .9em;

		li {
			display: inline-block;

			a {
				display: block;
				padding: 5px 10px;
				z-index: 100;
				border: 1px solid transparent;

				&:hover {
					border-color: #eee;
					border-radius: 5px;
				}

				&.active:hover {
					border-color: transparent;
				}
			}
		}
	}

	a {
		text-decoration: none;
		color: #aaa;

		&:hover {
			color: #222;
		}


	}

	pre {
		margin: 0 0 20px 0;
	}
}

.code-viewer a.active, .code-viewer a.active:hover, .right-code .code-viewer a.active:hover {
	color: #1EAEDB;
}


.right-code .code-viewer a:hover {
	color: #fff;
}

@media (max-width: 1000px) {

	.left-docs {
		float: none;
		width: 100%;
	}

	.doc-content {
		background: #fff;
		padding-bottom: 0;
		border-image: none;
		-moz-border-image: none;
		-webkit-border-image: none;
		border-color: #eee;
	}
}

.navigation {
	max-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	z-index: 1;
	background-color: $nav-background-color;

	h1 {
		height: $nav-header-height;
		box-sizing: border-box;
		background-color: $brand-colour;
		color: #fff;
		margin: 0;
		font-size: 1.7rem;
		line-height: 0.8;
		letter-spacing: 0;
		font-weight: 600;
		text-indent: 0;
		@include display-flex();
		@include flex-direction(row);
		@include align-items(center);
		border-bottom: 1px solid rgba(0, 0, 0, 0.075);

		img {
			height: 26px;
			margin: 0 18px;
		}
	}

	.open-nav {
		width: 25px;
		height: 25px;
 		margin: 0 0 0 18px;
		background-image: url($base-url + '/images/menu.svg');
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 100%;
		border: 0;
		position: relative;
		border-radius: 2px;
		cursor: pointer;

		&:focus {
			outline: none;
			background-color: rgba(0, 0, 0, 0.05);
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	@media (min-width: $mobile-break) {
		background-color: transparent;
		width: $nav-width;
		right: auto;
		bottom: auto;

		.copyright {
			display: block;
		}

		.open-nav {
			display: none;
		}

		h1 {
			box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
		}
	}
}

.copyright {
	text-align: center;
	font-size: .6em;
	margin: 30px 0 0 0;
	display: none;
}


@mixin flex-direction($values) {
	-webkit-flex-direction: $values;
	flex-direction: $values;
}

@mixin flex-flow($values) {
	-webkit-flex-flow: $values;
	flex-flow: $values;
}

@mixin align-items($values) {
	-webkit-align-items: $values;
	align-items: $values;
}

@mixin justify-content($values) {
	-webkit-justify-content: $values;
	justify-content: $values;
}

@mixin flex($values) {
	-webkit-flex: $values;
	flex: $values;
}

@mixin display-flex() {
	display: -webkit-flex;
	display: flex;
}

@mixin display-inline-flex() {
	display: -webkit-inline-flex;
	display: inline-flex;
}

.editor-link {
 	display: none;
 	float: right;
	margin-top: 0;
	border: 0;
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 2rem;
	text-decoration: none;
	padding: 10px 15px;
	margin: 0;
	font-size: 18px;
	cursor: pointer;
	background-color: #f7e064;
	color: #333;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

	&:hover {
		background-color: #f4d525;
		color: #333;
	}
}

.cms-editor-active .editor-link {
	display: inline-block;
}
